<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="id">Newest</option>
      </select>

    </div>
    <div class="span10" >
 
      <ul class="phones">
         
         <li ng-repeat="user in users | filter:query | orderBy:orderProp" class="thumbnail">
         <div class="span100" >
          <a href="#/displayproducts/{{user.blog}}/{{user.rank}}" class="thumb"><img ng-src="{{user.imageUrl}}"></a>
          <a href="#/displayproducts/{{user.blog}}/{{user.rank}}">{{user.name}}</a>
          <p>{{user.snippet}}</p>
           </div>
        </li>
        
      </ul>

    </div>
  </div>
</div>