  <div class='nav-bar'>
    <span class='btn-back icon-chevron-left' ng-click='Navigation.back()'>Back</span>
    <span class='btn-next' ng-click='Navigation.next()'>Next<i class='icon-chevron-right'></i></span>
  </div>

  <div class='content' id='content'>
    <ul fs-pages>

      <li fs-page class='page-gender'>
        <div class='female' ng-click='selectFemale()'ng-class='{selected:isFemale()}'></div>
        <div class='male' ng-click='selectMale()' ng-class='{selected:isMale()}'></div>
      </li>
      
      
       <li fs-page class='page-size'>
             Select the sizes from these magnificent sizes {{preferences.sizes}}
    
        <table>
          <tr>
          	<td ng-repeat="size in preferences.sizes.shirts"> 
          	      {{size.selected}}
                 <a><img ng-src="img/sizes/{{size.url}}" ng-click='selectShirts(size.shirt)'  class="{{size.selected}}"/></a>
         	</td>
          </tr>
          <tr>
       		<td ng-repeat="size in preferences.sizes.pants"> 
       	           {{size.pant}}
          	       <a><img ng-src="img/sizes/{{size.url}}" ng-click='selectPants(size.pant)' class="{{size.selected}}"/></a>
       		</td>
       	 </tr>
       	 <tr>
       		<td ng-repeat="size in preferences.sizes.shoes"> 
       	          {{size.shoes}}
          	       <a><img ng-src="img/sizes/{{size.url}}" ng-click='selectShoes(size.shoes)' class="{{size.selected}}"/></a>
       		</td>
       	</tr>
       	</table>
       	
      </li>
      
      
      <li fs-page class='page-colors'>
          Select the color from these {{preferences.colors.length}} colors {{preferences.colors.url}}
           <table>
            <tr>
          	<td ng-repeat="color in preferences.colors">
               <a  ng-click='selectColor(color.color)' class='color'>  <img ng-src="img/colors/{{color.url}}" /></a>
         	</td>
         	</tr>
         	</table>
      </li>
      
      
       <li fs-page class='page-prints'>
          Select the Prints from these {{preferences.prints.length}} prints
           <table>
            <tr>
          	<td ng-repeat="print in preferences.prints">
                <a  ng-click='selectPrints(print.print)'>  <img ng-src="img/{{print.url}}" /></a>
         	</td>
            </tr>
         	</table>
       </li>
      
      
      <li fs-page class='page-luxurybrands'>
          Select the Luxurybrands from these {{preferences.luxuryBrands.length}} luxurybrands
         <table>
            <tr>
          	<td ng-repeat="luxurybrand in preferences.luxuryBrands">
                <a  ng-click='selectluxurybrands(luxurybrand.luxbrand)'>  <img ng-src="img/luxury/{{luxurybrand.url}}" /></a>
         	</td>
            </tr>
         	</table>
      </li>
      
      <li fs-page class='page-Hi_Street_Brands'>
          Hi_Street_Brand I have {{preferences.hiStreetBrands.length}} hiStreetBrands
         <table>
            <tr>
          	<td ng-repeat="Hi_Street_Brand in preferences.hiStreetBrands">
                <a  ng-click='selectHiStreetBrand(Hi_Street_Brand.hibrand)'> <img ng-src="img/luxury/{{Hi_Street_Brand.url}}" /></a>
         	</td>
          </tr>
         	</table>
      </li>
      
      <li fs-page class='page-Fast_Fashion_Brands'>
          Fast_Fashion_Brands I have {{preferences.fastFashionBrands.length}} fast_fashion_brands
          <table>
            <tr>
          	<td ng-repeat="Fast_Fashion_Brand in preferences.fastFashionBrands">
                <a  ng-click='selectFastFashionBrand(Fast_Fashion_Brand.fastfash)'> <img ng-src="img/luxury/{{Fast_Fashion_Brand.url}}" /></a>
         	</td>
          </tr>
         	</table>
      </li>
 
      <li fs-page class='page-IndieDesigners'>
          indie_designers I have {{preferences.indieDesigners.length}} indie_designers
          <table>
            <tr>
          	<td ng-repeat="IndieDesigner in preferences.indieDesigners">
          	    <a  ng-click='selectIndieDesigner(IndieDesigner.indie)'><img ng-src="img/luxury/{{IndieDesigner.url}}" /></a>
              </td>
             </tr>
         	</table>
      </li>
      

      <li fs-page>
        <input type="submit" ng-click="saveProfile()" value="Save">
      Submit 
      </li>

    </ul>
  </div>
